.project-slide {
  background: white;
}

.layout-header {
  background: #7dbcea !important;
}

.layout-content {
  background: white;
}

.layout-footer {
  background: white !important;
}

.ant-carousel-vertical .slick-dots li {
  margin: 7px 0 !important;
}

.ant-carousel-vertical .slick-dots li button {
  /* width: 10px !important; */
  /* height: 50px !important; */
  background: black !important;
}

.ant-carousel-vertical .slick-dots-left {
  width: 20px !important;
  height: 200px;
  background: white !important;
}

.ant-steps {
  flex-wrap: wrap !important;
  /* overflow: hidden !important; */
}

.ant-steps-item-title {
  font-size: 12px !important;
}

.close-expanded {
  display: inline;
  color: #1890ff;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  /* float: right; */
  margin-left: 4px;
  background: none !important;
  border: none;
  padding: 0 !important;
}

.close-expanded:hover {
  color: #40a9ff;
}

/* .slick-dots li button:before {
  font-size: 20px !important;
  line-height: 20px !important;
  color: black !important;
} */

/* .layout-header,
.layout-footer {
  color: #fff;
  background: #7dbcea;
}
[data-theme="dark"] .ant-layout-header {
  background: #6aa0c7;
}
[data-theme="dark"] .ant-layout-footer {
  background: #6aa0c7;
}
.layout-footer {
  line-height: 1.5;
}

.layout-content {
  min-height: 120px;
  color: #fff;
  line-height: 120px;
  background: rgba(16, 142, 233, 1);
}
[data-theme="dark"] .ant-layout-content {
  background: #107bcb;
} */
