.project-slide {
  background: white;
}

.layout-header {
  background: #7dbcea !important;
}

.layout-content {
  background: white;
}

.layout-footer {
  background: white !important;
}

.ant-carousel-vertical .slick-dots li {
  margin: 7px 0 !important;
}

.ant-carousel-vertical .slick-dots li button {
  /* width: 10px !important; */
  /* height: 50px !important; */
  background: black !important;
}

.ant-carousel-vertical .slick-dots-left {
  width: 20px !important;
  height: 200px;
  background: white !important;
}

.ant-steps {
  flex-wrap: wrap !important;
  /* overflow: hidden !important; */
}

.ant-steps-item-title {
  font-size: 12px !important;
}

.content-container {
  height: 100%;
  margin: 0 40px;
  color: black;
  overflow: hidden;
}
