.slick-list[style] {
  height: 75vh !important;
  min-height: 640px !important;
}

.project-slide {
  height: 75.1vh;
  min-height: 641px !important;
  text-align: left;
  overflow: hidden;
  margin-bottom: 5px;
}

.media-container {
  float: right;
  padding: 10px;
  width: 300px;
  height: 250px;
  overflow: hidden;
  transition: width 0.1s, height 0.1s;
}

@media (max-width: 1200px) {
  .media-container {
    width: 250px !important;
    height: 200px !important;
  }
}
.slide-video {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .project-slide,
  .slick-list[style] {
    min-height: 700px !important;
    min-width: 600px !important;
    /* overflow-x: scroll !important; */
  }
  .site-layout-background {
    min-height: 705px !important;
    min-width: 605px !important;
  }
  .media-container {
    width: 200px !important;
    height: 150px !important;
  }
}
